@model EnglishCourses.Web.Models.ViewModels.HomeView

@{
    ViewBag.Title = "CourseSuggestion";
    Layout = "~/Views/Shared/HomeLayout/_Layout.cshtml";
}


<!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center my-5 py-5">
        <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
        <h1 class="text-white display-1 mb-5">Education Courses</h1>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
            <form method="post" action="@Url.Action("SearchCourse", "Home")">
                <div class="input-group">
                    <input type="text" class="form-control border-light" name="query" style="padding: 30px 25px;" placeholder="Search for Courses" value="">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Call to Action Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Know Your English Level</h6>
                    <h1 class="display-4">Take Our Free Quiz</h1>
                </div>
                <p class="m-0">Are you curious about your English proficiency level? Take our quick and free English quiz to find out! Whether you are a beginner or an advanced learner, this quiz will help you identify your strengths and areas for improvement. Click the button to start the quiz now!</p>
            </div>
            <div class="col-lg-7 text-center">
                <a href="@Url.Action("TakeQuiz", "Home")" class="btn btn-primary py-3 px-5">Start Quiz</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->
<!-- Courses Start -->
@if (Model != null && Model.Courses != null && Model.Courses.Any())
{
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
                </div>
            </div>
        </div>
        <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
            @foreach (var course in Model.Courses)
            {
                <div class="courses-item">
                    <img class="img-fluid w-100" src="data:image;base64,@course.DisplayImage" alt="@course.Title">
                    <div class="bg-light text-center p-4">
                        <h4 class="text-center text-dark px-3">@course.Title</h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-dark"><i class="fa fa-user mr-2"></i>@course.TeacherName</span>
                            </div>
                        </div>
                        <div class="w-100 bg-white text-center p-4">
                            <a class="btn btn-primary" href="@Url.Action("CourseDetails","Home", new { id = course.Id })">Course Detail</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<!-- Courses End -->
<!-- Feature Start -->
<div class="container-fluid bg-image" style="margin: 90px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                    <h1 class="display-4">Why You Should Start Learning with Us?</h1>
                </div>
                <p class="mb-4 pb-2">Aliquyam accusam clita nonumy ipsum sit sea clita ipsum clita, ipsum dolores amet voluptua duo dolores et sit ipsum rebum, sadipscing et erat eirmod diam kasd labore clita est. Diam sanctus gubergren sit rebum clita amet.</p>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-graduation-cap text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Skilled Instructors</h4>
                        <p>Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no nonumy et eos dolor magna ipsum.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-certificate text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>International Certificate</h4>
                        <p>Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no nonumy et eos dolor magna ipsum.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book-reader text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Online Classes</h4>
                        <p class="m-0">Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no nonumy et eos dolor magna ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/Templates/Home/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->
<!-- Team Start -->
@if (Model != null && Model.Teachers != null && Model.Teachers.Any())
{
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Instructors</h6>
                <h1 class="display-4">Meet Our Instructors</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                @foreach (var teacher in Model.Teachers)
                {
                    <div class="team-item">
                        <img class="img-fluid w-100" src="data:image;base64,@teacher.ProfilePicture" alt="@teacher.Name">
                        <div class="bg-light text-center p-4">
                            <h5 class="mb-3">@teacher.Name</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<!-- Team End -->
